<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/w3.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="css/css.css">
	<meta charset="utf-8">
	<title>Noticia 1</title>
</head>
<body>
	<button class="tablink" onclick="openCity('London', this, 'LightGray')" id="defaultOpen">Catastrofe</button>
	<div id="London" class="tabcontent">
		<div class="container text-center">
	<ul>
	{% for noticia in Noticias %}
		<li><h1>{{ noticia["Titulo"] }}</h1></li>
		<li><h3>{{ noticia["Encabezado"] }}</h3></li>
		<li><h5>{{ noticia["Cuerpo"] }}</h5></li>
		<!--<li>{{ noticia["Estado"] }}</li>-->
	{% endfor%}
	</ul>
	</div>
	</div>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/Utils.js"></script>
</body>
</html>
