<!DOCTYPE html>
<html>
	<title>Radio VaioVaio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/w3.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="css/css.css">
	<link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<script src="https://kit.fontawesome.com/440079d00f.js"></script>
	</style>
	<body>
		<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="leftMenu">
		  <button onclick="closeLeftMenu()" class="w3-bar-item w3-button w3-large">Leídas &times;</button>
		  <a href="http://localhost:8080/noticia1" class="w3-bar-item w3-button" target="c1">Catastrofe</a>
		</div>
		<div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;" id="rightMenu">
		  <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Por Leer &times;</button>
		  <a  href="http://localhost:8080/noticia2" class="w3-bar-item w3-button" target="c1">Sociedad</a>
		  <a href="http://localhost:8080/noticia3" class="w3-bar-item w3-button" target="c1">Deporte</a>
		</div>
	<div class="w3-teal">
	  <button class="w3-button w3-teal w3-xlarge w3-left" onclick="openLeftMenu()">&#9776;</button>
	  <button class="w3-button w3-teal w3-xlarge w3-right" onclick="openRightMenu()">&#9776;</button>
	  <div class="container text-center">
	  		<h1 ><a class="redes-sociales" style="color:white;"><i class="fas fa-microphone-alt"></i></a>&nbsp vaio vaio</h1>
	  </div>
	</div>
	<!--<div class="w3-container">
	<div class="container">
		<ul style="text-align: center;">
		{% for noticia in Noticias %}
			<li><h1>{{ noticia["Titulo"] }}</h1></li>
			<li><h3>{{ noticia["Encabezado"] }}</h3></li>
			<li><h5>{{ noticia["Cuerpo"] }}</h5></li>
			<li>{{ noticia["Estado"] }}</li>
		{% endfor%}
		</ul>
		</div>
		</div>-->
  <div class="w3-container text-center">

		<iframe class="embed-responsive-item" name="c1" width="1280" height="360" scrolling="no"></iframe>
	</div>
	</div>
	</div>
		<br />
  <footer class="redes-sociales text-center">
		<nav class="redes-sociales">
			<marquee direction="right">
				<a><i class="fab fa-facebook-f"></i></a>
				<a><i class="fab fa-twitter"></i></a>
				<a><i class="fab fa-pinterest"></i></a>
				<a><i class="fab fa-youtube"></i></a>
				<a><i class="fab fa-instagram"></i></a>
			</marquee>

		</nav>


  </footer>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/Utils.js"></script>
	</body>
</html>
